﻿.cssload-jumping{
	position:absolute;
	display:none;
	margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
	width:138px;
    z-index: 99999;
}
	
.cssload-jumping, .cssload-jumping * {
	box-sizing: border-box;
}

.cssload-jumping span {
	display: inline-block;
	height: 19px;
	width: 19px;
	background: rgb(137,198,245);
	border-radius: 625px;
	background-clip: padding-box;
		-o-background-clip: padding-box;
		-ms-background-clip: padding-box;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
}

.cssload-jumping span:nth-child(1) {
	animation: scale 0.85s 0.085s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 0.85s 0.085s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 0.85s 0.085s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 0.85s 0.085s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 0.85s 0.085s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(2) {
	animation: scale 0.85s 0.17s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 0.85s 0.17s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 0.85s 0.17s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 0.85s 0.17s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 0.85s 0.17s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(3) {
	animation: scale 0.85s 0.255s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 0.85s 0.255s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 0.85s 0.255s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 0.85s 0.255s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 0.85s 0.255s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(4) {
	animation: scale 0.85s 0.34s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 0.85s 0.34s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 0.85s 0.34s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 0.85s 0.34s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 0.85s 0.34s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(5) {
	animation: scale 0.85s 0.425s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-o-animation: scale 0.85s 0.425s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-ms-animation: scale 0.85s 0.425s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-webkit-animation: scale 0.85s 0.425s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
		-moz-animation: scale 0.85s 0.425s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}



@keyframes scale {
	0% {
		transform: scale(0);
	}
	25% {
		transform: scale(0.9, 0.9);
		background: rgb(137,198,245);
	}
	50% {
		transform: scale(1, 1);
		margin: 0 4px;
		background: rgb(137,198,245);
	}
	100% {
		transform: scale(0);
	}
}

@-o-keyframes scale {
	0% {
		-o-transform: scale(0);
	}
	25% {
		-o-transform: scale(0.9, 0.9);
		background: rgb(137,198,245);
	}
	50% {
		-o-transform: scale(1, 1);
		margin: 0 4px;
		background: rgb(137,198,245);
	}
	100% {
		-o-transform: scale(0);
	}
}

@-ms-keyframes scale {
	0% {
		-ms-transform: scale(0);
	}
	25% {
		-ms-transform: scale(0.9, 0.9);
		background: rgb(137,198,245);
	}
	50% {
		-ms-transform: scale(1, 1);
		margin: 0 4px;
		background: rgb(137,198,245);
	}
	100% {
		-ms-transform: scale(0);
	}
}

@-webkit-keyframes scale {
	0% {
		-webkit-transform: scale(0);
	}
	25% {
		-webkit-transform: scale(0.9, 0.9);
		background: rgb(137,198,245);
	}
	50% {
		-webkit-transform: scale(1, 1);
		margin: 0 4px;
		background: rgb(137,198,245);
	}
	100% {
		-webkit-transform: scale(0);
	}
}

@-moz-keyframes scale {
	0% {
		-moz-transform: scale(0);
	}
	25% {
		-moz-transform: scale(0.9, 0.9);
		background: rgb(137,198,245);
	}
	50% {
		-moz-transform: scale(1, 1);
		margin: 0 4px;
		background: rgb(137,198,245);
	}
	100% {
		-moz-transform: scale(0);
	}
}

a {
    cursor: pointer;
}

.editTemp {
        padding-left: 10px;
        padding-right: 10px;
    }

.textToCenter {
    text-align: center;
}

.toLeft {
    margin-left: 15px;
}

.myLabel {
    color: white;
    font-size: medium;
    border-radius: 5px;
    text-transform: lowercase;
    letter-spacing: 0.3px;
    margin-top: 5px;
    padding: 4px;
}

.k-scheduler-table td {
    border-color: black; 
}

.k-scheduler-header th {
    border-color: black; 
}

.label-manual {
    background-color: #007cc0;
}

.label-app {
    background-color: #00a65a;
}

.label-accepted {
    background-color: #8B4513;
}

.label-in-work {
    background-color: #BA55D3;
}

.label-made {
    background-color: gray;
}

.label-not-paid {
    background-color: #DC143C;
}

@media only screen and (max-width : 620px) {

    span.k-input {
        width: 125px;
    }

    .myLabel {
    color: white;
    font-size: small;
    border-radius: 5px;
    text-transform: lowercase;
    letter-spacing: 0.3px;
    padding: 1px;
}

    .setting-block1 {
        margin-top: 10px;
        max-width: 400px;
        width: inherit !important;
    }

    .setting-block2 {
        max-width: 400px;
        width: inherit !important;
        float: inherit !important;
        margin-top: 10px !important;
        margin-left: 0px !important;
    }

    .setting-block3 {
        max-width: 400px;
        width: inherit !important;
        float: inherit !important;
        margin-top: 10px;
    }

    .product-view {
        width: 100%;
    }

        .product-view:nth-child(even) {
            border-left-width: 1px;
        }

        .textToCenter {
            text-align: left;
        }
}

@media screen and (max-width: 680px) {
    #scheduler {
        margin-top: 0px !important;
    }
    .content {
        padding-left: 0px;
        padding-top: 1px;
    }
    .editTemp {
        padding-left: 0px;
    }
     .k-input {
         width: 180px;
         height: 25px !important;
         line-height: 0.5em !important;
        font-weight: 600;
    }
     .adv1 {
          width: 220px !important;
     }
     a.logo {
         display: none !important;
     }
     .head-date {
        font-size: small !important;
    }
}
@media (max-width: 767px) {
    .main-sidebar, .left-side {
        padding-top: 50px;
    }
    .k-dropzone em {
        padding-top: 0px;
    }
}

@media (min-width: 768px) {
    .k-dropzone em {
        visibility: inherit;
        display: block;
        padding-top: 10px;
    }
}


