﻿@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Styles/carWash.css")
@Scripts.Render("~/Scripts/CarWash/carWashIndex.js")

<div id="settL" class="setting-block1"></div>

    @*<div class="setting-block2 demo-section k-content ">
        <h3 style="padding-left: 10px; padding-top: 5px;">Загрузка фотографий</h3>
        <p style="padding-left: 10px; color: gray;">Не более 3 штук и размером не более 1 мегабайта на одно фото</p>
        <input name="files" id="files" type="file" />
    </div>*@

<div class="setting-block3 demo-section k-content">
    <h3 style="padding-left: 10px; padding-top: 5px;">Настройка сервисов</h3>
    <p style="padding-left: 10px; color: gray;">Выберите сервисы, которые будут использоваться в мобильном приложении в качестве фильтра</p>
    <ul id="serv" style="line-height:2.5em;padding-left:20px;" ></ul>
    <div class="edit-buttons">
        <a class="k-button k-edit-button" id="servricesSave"><i class="fa fa-save"> Сохранить</i></a>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="template">
    <div class="product-view k-widget">
        <h3 style="padding-left:10px;padding-top:5px;">Основная информация</h3>
        <dl>
            <dt>Наименование</dt>
            <dd>#:Name#</dd>
            <!-- <dt>Город</dt>
             <dd>#:City#</dd>
             <dt>Улица</dt>
             <dd>#:Street#</dd>
             <dt>Дом</dt>
             <dd>#:HouseNumber#</dd>-->
            <dt>Телефон</dt>
            <dd>#:Phone#</dd>
            <dt>Время начала рабочего дня</dt>
            <dd>#:StartTimeOfWork#</dd>
            <dt>Время конца рабочего дня</dt>
            <dd>#:EndTimeOfWork#</dd>
        </dl>
        <div class="edit-buttons">
            <a class="k-button k-edit-button" href="\\#"><i class="fa fa-edit"> Изменить</i></a>
        </div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="editTemplate">
    <div class="product-view k-widget">
        <dl>
            <dt>Наименование</dt>
            <dd>
                <input type="text" data-bind="value:Name" name="Name" required="required" validationmessage="required" />
                <span data-for="Name" class="k-invalid-msg"></span>
            </dd>
            <!--   <dt>Город</dt>
               <dd>
                   <input type="text" data-bind="value:City" name="City" required="required" validationmessage="required" />
                   <span data-for="City" class="k-invalid-msg"></span>
               </dd>
               <dt>Улица</dt>
               <dd>
                   <input type="text" data-bind="value:Street" name="Street" required="required" validationmessage="required" />
                   <span data-for="Street" class="k-invalid-msg"></span>
               </dd>
               <dt>Дом</dt>
               <dd>
                   <input type="text" name="House" data-bind="checked:House" required="required" validationmessage="required">
                   <span data-for="House" class="k-invalid-msg"></span>
               </dd> -->
            <dt>Телефон</dt>
            <dd>
                <input type="text" name="Phone" data-bind="checked:Phone" required="required" validationmessage="обязательно">
                <span data-for="Phone" class="k-invalid-msg"></span>
            </dd>
            <dt>Время начала рабочего дня</dt>
            <dd>
                <input type="time" name="StartTimeOfWork" style="font-size: medium;" data-bind="checked:StartTimeOfWork" required="required" validationmessage="обязательно">
                <span data-for="StartTimeOfWork" class="k-invalid-msg"></span>
            </dd>
            <dt>Время конца рабочего дня</dt>
            <dd>
                <input type="time" name="EndTimeOfWork" style="font-size: medium;" data-bind="checked:EndTimeOfWork" required="required" validationmessage="обязательно">
                <span data-for="EndTimeOfWork" class="k-invalid-msg"></span>
            </dd>
        </dl>
        <div class="edit-buttons">
            <a class="k-button k-update-button" href="\\#"><i class="fa fa-save"> Сохранить</i></a>
            <a class="k-button k-cancel-button" href="\\#"><i class="fa fa-undo"> Отменить</i></a>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="additionalWorks-temp">
    <div>
        <input type="checkbox" id="eq#:WorkId#" class="k-checkbox" #=IsActive ? checked="checked" : '' #/>
        <label class="k-checkbox-label" for="eq#:WorkId#" onclick="changeWokrFlag(this)">#:Name#</label>
    </div>
</script>
