﻿@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/Scripts/Statistic/statisticIndex.js")

@* Окно с неуспешным завершением события *@
<div class="alert alert-danger" id="error-block" style="display: none">
    <span id="error-msg"></span>
</div>

@* Окно с успешным завершением события *@
<div class="alert alert-success" id="success-block" style="display: none">
    <span id="success-msg"></span>
</div>

<div class="k-widget divPad" style="background-color: #f2f2f2">
    <strong>Выберите интервал от</strong>
    <div class="divPicker">
        <input id="start" type="date"/>
        <input id="time1" type="time" value="00:00"/>
    </div>
    <strong style="margin-left: 4px">до</strong>
    <div class="divPicker">
        <input id="end" type="date"/>
        <input id="time2" type="time" value="23:59"/>
    </div>
    <input type="button" class="k-button" value="Отобразить" onclick="submitStatistic();"/>
</div>

<div id="grid" style="display: none;"></div>

<div class="k-widget" style="background-color: #F2F2F2; border-top: 0; border-left: 1px solid silver; border-right: 1px solid silver; border-bottom: 1px solid silver;">
    <div style="font-size: x-large; padding: 10px 0 5px 10px;">
        Выручка - <span id="income" style="color: deepskyblue">0,00</span> р
    </div>
    <div style="font-size: x-large; padding: 5px 0 10px 10px;">
        Количество помытых машин - <span id="count" style="color: deepskyblue">0</span>
    </div>
</div>

@* Popup доп. информации*@
<div id="details" style="display: none">
    <div class="k-popup-edit-form k-window-content k-content">
        <div class="k-edit-form-container">
            <div class="k-edit-label">
                <label>Номер заявки:</label><span class="span-pad" data-bind="text: OrderId"></span>
            </div>
            <div class="k-edit-label">
                <label>Дата начала:</label><span class="span-pad" data-bind="text: DateFrom"></span>
            </div>
            <div class="k-edit-label">
                <label>Дата окончания:</label><span class="span-pad" data-bind="text: DateTo"></span>
            </div>
            <div class="k-edit-label">
                <label>Гос. номер:</label><span class="span-pad" data-bind="text: CarNumber"></span>
            </div>
            <div class="k-edit-label">
                <label>Статус заказа:</label><span class="span-pad" data-bind="text: OrderStateString"></span>
            </div>
            <div class="k-edit-label">
                <label>Стоимость:</label><span class="span-pad" data-bind="text: Cost"></span>
            </div>
            <div class="k-edit-label">
                <label>Продолжительность:</label><span class="span-pad" data-bind="text: Duration"></span>
            </div>
            <div class="k-edit-label">
                <label>Тип авто:</label><span class="span-pad" data-bind="text: CarTypeString"></span>
            </div>
            <div class="k-edit-label">
                <label>Марка:</label><span class="span-pad" data-bind="text: CarMake"></span>
            </div>
            <div class="k-edit-label">
                <label>Тип мойки:</label><span class="span-pad" data-bind="text: WorkName"></span>
            </div>
            <div class="k-edit-label">
                <label>Номер телефона:</label><span class="span-pad" data-bind="text: ClientPhone"></span>
            </div>
            <div class="k-edit-label">
                <label>Тип заявки:</label><span class="span-pad" data-bind="text: OrderTypeString"></span>
            </div>
            <div class="k-edit-label">
                <label>Номер бокса:</label><span class="span-pad" data-bind="text: BoxName"></span>
            </div>
        </div>
        <div style="float: left; clear: both; margin-top: 15px; width: 100%; text-align: center;">
            <button type="button" class="k-button k-button-icontext k-grid-cancel" onclick="detailClose();">
                Закрыть
            </button>
        </div>
    </div>
</div>

@* Шаблон для кнопки детальная информация *@
<script id="details-temp" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" data-id="${OrderId}" onclick="detailShow(this)">
        Подробнее
    </button>
</script>

<style>
    .k-edit-label, .k-edit-form-container .editor-label {
        padding: 0;
        width: initial;
    }
     .k-grid td {
         padding: 3px;
     }
    .k-grid tr td {
        border-left: 1px solid silver;
    }
    .k-grid-header th.k-header {
        padding-left: 3px;
    }
    input[type=date] {
        height: 40px;
        font-size: medium;
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-left: 5px;
    }
    input[type=time] {
        height: 40px;
        font-size: medium;
        text-align: center;
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-left: 5px;
        padding-left: 10px;
    }
    input[type=button] {
        margin-bottom: 6px;
        margin-left: 10px;
        height: 38px;
        background: #3c8dbc;
        color: white;
    }
    .divPad {
        padding-left: 10px;
        border: none;
        border-top: 1px solid silver;
        border-left: 1px solid silver;
        border-right: 1px solid silver;
    }
    .divPicker {
        position: relative;
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .span-pad {
        padding-left: 10px;
    }
</style>