﻿
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Employees/employeesIndex.js")

@* Окно с успешным завершением события *@
<div class="alert alert-success" id="success-block" style="display: none">
    <span id="success-msg"></span>
</div>

@* Окно с неуспешным завершением события *@
<div class="alert alert-danger" id="error-block" style="display: none">
    <span id="error-msg"></span>
</div>

@* Грид с сотрудниками *@
<div id="grid"></div>

@* Шаблон тулбара таблицы сотрудников *@
<script id="toolBarTemplate" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add" onclick="addEmployee()">
        Новый сотрудник
    </button>
</script>

@* Шаблон ячейки команд услуги *@
<script id="employeeCommandsCellTemplate" type="text/x-kendo-template">
    <button class="k-button k-button-icontext k-grid-add edit-work" data-id="${Id}" onclick="editEmployee(this);">
        Изменить
    </button>
    <button class="k-button k-button-icontext k-grid-add delete-work" data-id="${Id}" onclick="removeEmployee(this);">
        Удалить
    </button>
</script>

@* Popup для добавления и редактирования сотрудника*@
<div id="add-employee" style="display: none">
    <div class="k-popup-edit-form k-window-content k-content">
        <div class="k-edit-form-container">
            <div class="k-edit-label">
                <label>Фамилия</label>
            </div>
            <div class="k-edit-field">
                <input id="surname" type="text" placeholder="Не менее 2 символов" class="k-input k-textbox"/>
            </div>
            <div class="k-edit-label">
                <label>Имя</label>
            </div>
            <div class="k-edit-field">
                <input id="name" type="text" placeholder="Не менее 2 символов" class="k-input k-textbox"/>
            </div>
            <div class="k-edit-label">
                <label>Отчество</label>
            </div>
            <div class="k-edit-field">
                <input id="patronymic" type="text" placeholder="Не менее 2 символов" class="k-input k-textbox"/>
            </div>
            <div class="k-edit-label">
                <label>Логин</label>
            </div>
            <div class="k-edit-field">
                <input id="login" type="text" placeholder="e-mail" class="k-input k-textbox"/>
            </div>
            <div class="k-edit-label">
                <label>Пароль</label>
            </div>
            <div class="k-edit-field">
                <input id="password" type="password" placeholder="Не менее 6 симоволов" class="k-input k-textbox"/>
                <div id="tooltip" style="display:none;font-size:12px;color:gray;">Оставьте пароль пустым, если не хотите его изменить</div>
            </div>
          <!--  <div class="k-edit-label">
                <label>Должность</label>
            </div>
            <div class="k-edit-field">
                <input id="post" type="text" maxlength="150" class="k-input k-textbox"/>
            </div>-->
            <div class="k-edit-label">
                <label>Телефон</label>
            </div>
            <div class="k-edit-field">
                <input id="phone" type="text" placeholder="+7 (999) 999-99-99" class="k-input k-textbox"/>
            </div>
        </div>
        <div style="float: left; padding-top: 20px;">
            <button type="button" id="save" class="k-button k-button-icontext k-primary k-grid-update">
                Сохранить
            </button>
            <button type="button" class="k-button k-button-icontext k-grid-cancel" onclick="cancelAddEmployee();">
                Отмена
            </button>
        </div>
    </div>
</div>

<style>
    .k-grid tr {
        border: 0.1px solid #D8D8D8;
    }
    .k-edit-label, .k-edit-form-container .editor-label {
        margin-left: 0;
        width: 0;
    }
    .k-edit-field, .k-edit-form-container .editor-field {
        width: 70%;
    }
</style>