﻿@model List<FreshCar.Models.Home.LeftMenuItemModel>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" style="padding-top: 25px;">
            @foreach (var item in Model)
            {
                <li class="@item.CssClass">
                    <a data-id="@item.DataId" href="@Url.Action(item.Action, item.Controller)">
                        <i class="@item.IconClass"></i> <span>@item.Name</span>
                    </a>
                </li>
            }
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
